<section>
    <img src="assets/img/homeimagepanda-01.png" class="homeImage" alt="">
    <div class="container homeDiv">
        <h3>Que todos tus días sean</h3>
        <h1>Dulces</h1>
        <h5>Explora la cultura kawaii con peluches japoneses,<br> comida y mucho más con RedPanda.</h5>
        <button type="button">Conoce más</button>
    </div>
</section>

<!-- INSTRUCCIONES E ICONOS -->
<section class="bgIconos">
    <div class="container">
        <h1 class="tituloProductos d-flex justify-content-center">Como funciona!</h1>
        <div class="row">
            <div class="imgIconos d-flex justify-content-around">
                <div class="imgIconos2 col-3">
                    <img src="assets/img/RPicons-02.png" alt="">
                    <span class="tituloIconos">Titulo 1</span>
                    <span>Asi funciona esta vaina, no se que vaina poner pero esto es una descripcion no me pares
                        bola</span>
                </div>
                <div class="imgIconos2 col-3">
                    <img src="assets/img/RPicons-03.png" alt="">
                    <span class="tituloIconos">Titulo 2</span>
                    <span>Asi funciona esta vaina, no se que vaina poner pero esto es una descripcion no me pares
                        bola</span>
                </div>
                <div class="imgIconos2 col-3">
                    <img src="assets/img/RPicons-04.png" alt="">
                    <span class="tituloIconos">Titulo 3</span>
                    <span>Asi funciona esta vaina, no se que vaina poner pero esto es una descripcion no me pares
                        bola</span>
                </div>
                <div class="imgIconos2 col-3">
                    <img src="assets/img/RPicons-05.png" alt="">
                    <span class="tituloIconos">Titulo 4</span>
                    <span>Asi funciona esta vaina, no se que vaina poner pero esto es una descripcion no me pares
                        bola</span>
                </div>


            </div>
        </div>
    </div>


    <!-- BOTONES Y PRODUCTOS -->
    <section class="bgProductos">
        <div class="container">
            <h1 class="tituloProductos d-flex justify-content-center">Escoge una Caja</h1>
            <div class="row">
                <div class="btnProductos d-flex justify-content-around">
                    <button type="button" (click)="cajasPorCategoria(1)" class="col-4">CAJAS 1</button>
                    <button type="button" (click)="cajasPorCategoria(2)" class="col-4">CAJAS 2</button>
                    <button type="button" (click)="cajasPorCategoria(3)" class="col-4">CAJAS 3</button>
                </div>
                <div class="d-flex  imgProductos">
                    <div class="col-4 d-flex flex-column justify-content-center"
                        *ngFor="let productoInicio of arrCajasCategoria">
                        <img src="{{productoInicio.imagen}}" alt="">
                        <div class="nombreProducto">{{productoInicio.nombre}}</div>
                        <div class="precioProducto">${{productoInicio.precio}}</div>
                        <button type="submit" class="botonesProductos2">
                            Añadir al carrito
                            <svg class="bi" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- NEWSLETTER -->
    <section class="container d-flex justify-content-end">

        <form class="formNewsletter container">
            <div class="nlTitulo">Suscribete a nuestro Newsletter</div>
            <div class="d-flex btnInput">
                <div class="col-auto">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Su e-mail">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Suscribirse</button>
                </div>
            </div>
        </form>

    </section>

    <div class="newsletterBg">
        <img src="assets/img/newsletterbg.png" class="w-100" alt="">
    </div>
