<section>
    <img src="assets/img/fotogrupo-01.png" alt="" class="nosotrosImage w-100">
    <div class="container homeDiv d-flex justify-content-center">
        <h1>Sobre Nosotros</h1>
    </div>
</section>

<!-- INFORMACION SOBRE NOSOTROS -->

<section class="nosotrosBg">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="tituloNosotros">En Red Panda</h1>
                <p class="parrafoNosotros">Estamos apasionados por la cultura japonesa y deseamos compartir nuestra pasión contigo.
                    Nos dedicamos a importar y vender dulces y productos japoneses en Colombia,
                    con el objetivo de brindar una experiencia auténtica y deliciosa a nuestros clientes.
                    <br>
                    <br>
                    Nuestra historia se origina del amor que los creadores tenemos en común por Japón. Queremos llevar una parte de Japón a Colombia para que todos puedan disfrutar de la maravilla de los dulces japoneses y otros productos emocionantes.
                </p>
            </div>
            <img src="assets/img/nosotrospeluches.png" class="col-6 imagenPeluches" alt="">
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <h3 class="tituloSecundarioh3">Nos esforzamos por:</h3>
        <p class="parrafoNosotros"></p>
    </div>
    <div class="container">
        <div class="row iconosNosotros">
            <div class="col-3">
                <img src="assets/img/RPicons-07.png" alt="">
                <p>- Seleccionar cuidadosamente los mejores productos japoneses.</p>
            </div>
            <div class="col-3">
                <img src="assets/img/RPicons-08.png" alt="">
                <p>- Garantizar la autenticidad y calidad de cada artículo que vendemos.</p>
            </div>
            <div class="col-3">
                <img src="assets/img/RPicons-09.png" alt="">
                <p>- Ofrecer un excelente servicio al cliente y satisfacción.</p>
            </div>
            <div class="col-3">
                <img src="assets/img/RPicons-10.png" alt="">
                <p>- Promover la cultura japonesa y la diversidad gastronómica en Colombia.</p>
            </div>
        </div>
    </div>
</section>
