.cajitaLogin {
    display: flex;
    justify-content: start;
    padding: 60px;
    padding-left: 80px;
}

.eyeicon {
    position: relative;
    right: 30px;
    cursor: pointer;
}

/* CSS inputs */

.input {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #8e8b8bc2;
    --main-color: #323232;
    background-color: transparent;
    font-family: 'karla_regular';
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;

}

.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}


/* CSS boton envio */

button {
    background: #0076d8;
    font-family: inherit;
    padding: 0.3em 1em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;

}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.btnEnviar {
    display: flex;
    justify-content: center;
}
