<section>
  <div class="mainCaja container-fluid">
    <div class="row p-5 m-5 d-flex justify-content-between">
      <div class="col-8 border-1" style="border: solid rgb(216, 215, 215);border-radius: 7px;">
        <table class="table" >
          <thead>
            <tr>
              <!-- //Al boton del carrrito etoca ponerle el id -->
              <th scope="col">#</th>
              <th scope="col" colspan="3">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">1</th>
              <td colspan="3">caja 1</td>
              <td>2 UND</td>
              <td>80000 COP</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td colspan="3">caja 2</td>
              <td>5 UNDS</td>
              <td>150000 COP</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="3">caja 3</td>
              <td>1 UNDS</td>
              <td>40000 COP</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-title">Cupón de descuento</h6>
            <div class="input-group mb-1">
              <input type="text" class="form-control" placeholder="Código">
              <button class="btn btn-outline-secondary" type="button">Aplicar</button>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Subtotal</li>
            <li class="list-group-item">Descuentos</li>
            <li class="list-group-item">Gastos de Envío</li>
          </ul>
          <div class="card-body">
            <li class="list-group-item">Total</li>
          </div>
          <div class="card-body">
            <button class="card-img-bottom">Finalizar Compra</button>
          </div>
        </div>
      </div>
    </div>
    <div class="metodosPago d-flex justify-content-center">
      <img src="assets/img/metodos-pago.png" alt="">
    </div>
  </div>
</section>
