
    <div class="container-fluid cajitaRegistro">
        <div class="col-6 offset-6">

            <form class="row g-2 text-center" style="font-family: 'karla_regular';" [formGroup]="formularioRegistro"
                (ngSubmit)="enviarFormulario()">
                <h2 class="mb-5 texto">{{ tituloPagina }}</h2>

                <div class="formularioKK row">
                    <div class="col-6">
                        <input type="text" class="input mb-4" formControlName="nombre" placeholder="NOMBRE">
                        <div data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom" *ngIf="formularioRegistro.get('nombre')!.hasError('required') && formularioRegistro.get('nombre')!.touched"
                            class="fw-bold text-danger" ></div>
                        <div data-bs-toggle="tooltip" data-bs-title="Nombre Invalido" data-bs-placement="left" *ngIf="formularioRegistro.get('nombre')!.hasError('pattern') && formularioRegistro.get('nombre')!.touched"
                            class="fw-bold text-danger"></div>
                    </div>

                    <div class="col-6">
                        <input type="text" class="input" formControlName="apellido" placeholder="APELLIDO">
                        <div *ngIf="formularioRegistro.get('apellido')!.hasError('required') && formularioRegistro.get('apellido')!.touched"
                            class="fw-bold text-danger">Apellido Requerido</div>
                        <div *ngIf="formularioRegistro.get('apellido')!.hasError('pattern') && formularioRegistro.get('apellido')!.touched"
                            class="fw-bold text-danger">Apellido Invalido</div>
                    </div>

                    <div class="col-6">
                        <input type="email" class="input mb-4" formControlName="email" placeholder="CORREO">
                        <div *ngIf="formularioRegistro.get('email')!.hasError('required') && formularioRegistro.get('email')!.touched"
                            class="fw-bold text-danger">Correo Requerido</div>
                        <div *ngIf="formularioRegistro.get('email')!.hasError('pattern') && formularioRegistro.get('email')!.touched"
                            class="fw-bold text-danger">Correo Invalido</div>
                    </div>

                    <div class="col-6">
                        <input type="tel" class="input" formControlName="telefono" placeholder="TELEFONO">
                        <div *ngIf="formularioRegistro.get('telefono')!.hasError('required') && formularioRegistro.get('telefono')!.touched"
                            class="fw-bold text-danger">Teléfono Requerido</div>
                        <div *ngIf="formularioRegistro.get('telefono')!.hasError('pattern') && formularioRegistro.get('telefono')!.touched"
                            class="fw-bold text-danger">Teléfono Invalido</div>
                        <div *ngIf="formularioRegistro.get('telefono')!.hasError('maxlength') && formularioRegistro.get('telefono')!.touched"
                            class="fw-bold text-danger">El teléfono debe contener máximo 10 caracteres</div>
                    </div>

                    <div class="col-6">
                        <input [type]="changetype?'password':'text'" required="" class="input"
                            formControlName="password" placeholder="CONTRASEÑA">
                        <span class="eyeicon" (click)="verpass()"><i
                                [ngClass]="visible? 'fa-solid fa-eye':'fa-solid fa-eye-slash'"></i></span>
                        <div *ngIf="formularioRegistro.get('password')!.hasError('required') && formularioRegistro.get('password')!.touched"
                            class="fw-bold text-danger">Contraseña Requerida</div>
                        <div *ngIf="formularioRegistro.get('password')!.hasError('pattern') && formularioRegistro.get('password')!.touched"
                            class="fw-bold text-danger">La contraseña debe contener al menos un dígito, una minúscula,
                            una
                            mayúscula y
                            un caracter especial</div>
                        <div *ngIf="formularioRegistro.get('password')!.hasError('minlength') && formularioRegistro.get('password')!.touched"
                            class="fw-bold text-danger bg-body-tertiary">La contraseña debe contener al menos 8
                            caracteres
                        </div>
                    </div>

                    <div class="col-6">
                        <input type="password" required="" class="input" autocomplete="off" id="txtPass2" #txtPass2
                            (keyup)="rectificarPass()" placeholder="RECTIFICAR CONTRASEÑA">
                        <div class="d-none" #alertPass>
                            <div class="alert alert-danger" role="alert">
                                Su contraseña no coincide
                            </div>
                        </div>
                    </div>


                    <div class="col-6">
                        <input type="text" class="input mb-4" formControlName="ciudad" placeholder="CIUDAD">
                        <div *ngIf="formularioRegistro.get('ciudad')!.hasError('required') && formularioRegistro.get('ciudad')!.touched"
                            class="fw-bold text-danger">Ciudad Requerida</div>
                        <div *ngIf="formularioRegistro.get('ciudad')!.hasError('pattern') && formularioRegistro.get('ciudad')!.touched"
                            class="fw-bold text-danger">Ciudad Invalida</div>
                    </div>

                    <div class="col-6 ">
                        <input type="text" class="input" formControlName="postal" placeholder="CÓDIGO POSTAL">
                        <div *ngIf="formularioRegistro.get('postal')!.hasError('required') && formularioRegistro.get('postal')!.touched"
                            class="fw-bold text-danger">Código postal Requerido</div>
                        <div *ngIf="formularioRegistro.get('postal')!.hasError('pattern') && formularioRegistro.get('postal')!.touched"
                            class="fw-bold text-danger">Código postal Invalido</div>
                        <div *ngIf="formularioRegistro.get('postal')!.hasError('maxlength') && formularioRegistro.get('postal')!.touched"
                            class="fw-bold text-danger">El código postal debe contener máximo 5 caracteres</div>
                    </div>


                </div>

                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" formControlName="condiciones">
                    <div *ngIf="formularioRegistro.get('newsletter')!.hasError('required') && formularioRegistro.get('newsletter')!.touched"
                        class="fw-bold text-danger">Debes aceptar los términos</div>
                    <label class="form-check-label" for="flexCheckDefault">
                        Acepto Términos y Condiciones
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="newsletter">
                    <label class="form-check-label" for="flexCheckDefault">
                        Quiero recibir notificaciones, códigos de oferta y actualizaciones en mi correo
                    </label>
                </div>

                <div class="col-12 btnEnviar">
                    <button class="mt-4" style="width: 200px;" type="submit">{{txtBoton}}</button>
                </div>

                <h6 class="mt-4 mb-3">
                    ¿Ya tienes una cuenta? <a style="text-decoration: none;"
                        href="http://localhost:4200/inicio-sesion">Ingresa aquí</a>
                </h6>

            </form>
        </div>
    </div>

