<nav class="navbar navbar-expand-lg fixed-top" id="navbarPola">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="assests/Img/logo.avif" alt="Pola del Pub" width="216" height="68"
              class="d-inline-block align-text-top" onclick="location.href='index.html'">
      </a>

      <div class="d-flex justify-content-center align-items-center">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0 navdecoracion">
                  <li class="nav-item">
                      <a class="nav-link text-white"id="btn-Polas" style="position: relative;" aria-current="page">Polas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white"id="btn-Microcervecerias" style="position: relative;" >Microcervecerias</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white"id="btn-Pubs" style="position: relative;" >Pubs</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white"id="btn-Merch" style="position: relative;" >Merch</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" style="position: relative;" href="contactanos.html">Contáctanos</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="d-flex justify-content-end align-items-center">
          <button class="btn d-flex flex-column justify-content-center align-items-center"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              data-bs-title="Iniciar sesión">
              <a href="Login.html"><i class="fa-regular fa-user IHover text-dark"></i></a>
          </button>
          <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
              aria-controls="offcanvasTop">
              <i class="fa-solid fa-magnifying-glass IHover" style="color: #080808;"></i>
          </button>
          <button type="button" class="btn position-relative" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" data-bs-title="Pola Cart">
              <i class="fa-solid fa-beer-mug-empty IHover" style="color: #000000;"></i>
          </button>
          <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions"
              class="d-block d-lg-none btn d-flex flex-column justify-content-center align-items-center"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              data-bs-title="Iniciar sesión">
              <i class="fa-solid fa-bars"></i>
          </button>
      </div>
  </div>

</nav>
