<nav class="navbar navbar-expand-lg">
    <div class="container" style="background-color: var(--pandacream #F7e3cb); font-family: 'karla_regular';">

        <img src="../assets/logo1.png" alt="Red Panda" style="width: 150px; cursor: pointer;" [routerLink]="'/home'">

        <div class="d-flex justify-content-center align-content-center align-items-center">

            <ul class="navbar-nav me-auto mb-2">

                <ng-container *ngIf="!_usuarioService.estaLogueado(); else seccionPerfil">
                    <button class="nav-item" [routerLink]="'/nosotros'" style="color: #612a20;">
                        Nosotros
                    </button>
                    <button class="nav-item" [routerLink]="'/inicio-sesion'" style="color: #612a20;">
                        <i class="fas fa-user"></i>
                    </button>
                </ng-container>

                <ng-template #seccionPerfil>
                    <button class="nav-item" [routerLink]="'/admin-users'" style="color: #612a20;">
                        Admon. Usuarios
                    </button>
                    <button class="nav-item" [routerLink]="'/admin-products'" style="color: #612a20;">
                        Admon. Productos
                    </button>
                    <button class="nav-item" [routerLink]="'/registro-productos'" style="color: #612a20;">
                        Reg. Productos
                    </button>
                    <button class="nav-link" (click)="cerrarSesion()" style="color: #612a20;" [routerLink]="'/home'">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </ng-template>

                <div class="d-flex">
                    <ul class="navbar-nav">
                        <button class="nav-item" style="color: #612a20;">
                            <i class="fas fa-search"></i>
                        </button>
                        <button class="nav-item" [routerLink]="'/carrito'" style="color: #612a20;">
                            <i class="fas fa-shopping-cart"></i>
                        </button>

                    </ul>
                </div>
